extends layout

block tab
    #header-row.mdl-layout__header-row


block content

    main.mdl-layout__content.mdl-color--grey-100
        .mdl-grid.demo-content
            .demo-charts.mdl-cell.mdl-cell--10-col.mdl-grid
                .mdl-cell.mdl-cell--12-col(style='margin-top:-25px;margin-bottom:-25px')
                    h4 About

            .demo-charts.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--10-col.mdl-grid

                .mdl-cell.mdl-cell--12-col(style='margin-top: 35px')
                    h6 This is a project for
                        b &nbsp;Google Summer of Code 2017
                        | &nbsp;of
                        b &nbsp;Physical Web
                        | &nbsp;organization developed by Gerard Farré.


                .mdl-cell.mdl-cell--12-col
                    h5 Special thanks:

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/pcital_logo.jpg' width='160')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/andreu_logo.png' width='170')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/lgl_logo.png' width='180')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/assistant_logo.jpg' width='170')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/gcp_logo.png' width='160')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/pw_logo.png' width='190')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/wu_logo.jpg' width='155')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/gsoc_logo.jpg' width='128')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/gdg_logo.png' width='96')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/firebase_logo.png' width='200')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/eps_logo.jpg' width='200')

                .mdl-cell.mdl-cell--4-col(style='text-align: center')
                    img(src='/img/logos/rpi_logo.jpg' width='150')

                .mdl-cell.mdl-cell--12-col(style='margin-left: 60px')
                    h6 Others:


                    ul
                        li
                            a(href='https://www.uplabs.com/posts/material-design-weather-icon-set') Material Design Weather Icon Set
                            | &nbsp;by Kevin Aguilar



