doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')


        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='/css/circle.css')
        link(rel='stylesheet', href='/css/compass.css')
        link(rel='stylesheet', href='/css/wind_vel.css')
        link(rel='stylesheet', href='/css/progress_bar.css')


        script(src='https://code.getmdl.io/1.3.0/material.min.js')
        script(src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js")
        script(src='//code.jquery.com/jquery-2.1.4.min.js')
        script(src='https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js')


        link(rel='icon' type='image/png' href='/img/cloud.png')
        title='My meteorological station'

        script.
            firebase.initializeApp(!{JSON.stringify(config)});

        include scripts/signin
        include scripts/set-uid-to-href

    body


        .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header


            header.demo-header.mdl-layout__header.mdl-color--blue-grey.mdl-color-text--blue-grey-50
                #bar.mdl-layout__header-row
                    span.mdl-layout-title #{title}
                    .mdl-layout-spacer
                    button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
                        i.material-icons more_vert
                    ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for='hdrbtn')
                        a#aboutlink.mdl-menu__item(href='/about') About
                        a.mdl-menu__item(href='mailto:mymeteorostation@gmail.com') Contact

                    #signinbtn.mdl-button.mdl-js-button.mdl-color-text--blue-grey-50(style=(id!==undefined)?'display: none':'') SIGN IN
                    a#username.mdl-color--blue-grey.mdl-color-text--blue-grey-50
                    a#imglink(href='#')
                        img#userimg(style=(id===undefined)?'display: none':'')
                    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='imglink')
                        li.mdl-menu__item
                            #signout
                                i.menuitem.material-icons arrow_back
                                | Sign out



                block tab


            .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-800.mdl-color-text--blue-grey-50
                header.demo-drawer-header
                    i.material-icons(style='font-size: 5em') cloud_queue
                    span My Meteorological Station



                nav.demo-navigation.mdl-navigation.mdl-color--blue-grey

                    a#homelink.mdl-navigation__link(href='/')
                        i.mdl-color-text--blue-grey-50.material-icons(role='presentation') home
                        | Home
                    if env !== 'production'
                        #newstation(style=(id===undefined)?'display: none': '')
                            a#newlink.mdl-navigation__link(href='/new')
                                i.mdl-color-text--blue-grey-50.material-icons(role='presentation') add
                                | New station
                    #managestations(style=(id===undefined)?'display: none': '')
                        a#managelink.mdl-navigation__link(href='' onclick='setHref()')
                            i.mdl-color-text--blue-grey-50.material-icons(role='presentation') edit
                            | Manage stations
                        a#pwlink.mdl-navigation__link(href='/pw')
                            i.mdl-color-text--blue-grey-50.material-icons(role='presentation') wifi_tethering
                            | Physical web

                    a.mdl-navigation__link(href='https://twitter.com/mymeteostation')
                        img(src="/img/twitter-logo.png" height="22" width="22" role='presentation' style='margin-right: 32px')
                        | Twitter updates

                    if env !== 'production'
                        a#settingslink.mdl-navigation__link(href='/settings')
                            i.mdl-color-text--blue-grey-50.material-icons(role='presentation') settings
                            | Settings
                    .mdl-layout-spacer
                    a#helplink.mdl-navigation__link(href='/help')
                        i.mdl-color-text--blue-grey-50.material-icons(role='presentation') help_outline
                        | Help
                    hr(style='margin-bottom: -10px')

                    a.mdl-navigation__link(href='https://github.com/gerard87/my-meteorological-station' style='padding-bottom:6px')
                        img(src="/img/github-logo.svg" height="22" width="22" role='presentation' style='margin-right: 32px')
                        | Github






            block content

        block fab



