doctype html
html
    head
        title=title
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
        link(rel='icon' type='image/png' href='img/cloud.png')
    body

        nav(class='navbar navbar-default navbar-static-top')
            div(class='container')
                div(class='navbar-header')
                    button(type='button', class='navbar-toggle collapsed',
                    data-toggle='collapse', data-target='#navbar',
                    aria-expanded='false', aria-controls='navbar')
                    a(class='navbar-brand', href='/') Home

        block content