extends layout

block tab
    #header-row.mdl-layout__header-row



block content

    main.mdl-layout__content.mdl-color--grey-100
        .mdl-grid.demo-content
            each val in data

                .demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-desktop(id='stationmngcard'+val, style='min-height: 150px')
                    .mdl-card__title.mdl-card--expand.mdl-color-text--blue-grey-800(style='min-height:64px;max-height:64px;background-color:#f7faff')
                        h2.mdl-card__title-text #{val}
                    .mdl-card__supporting-text.mdl-color-text--grey-600(style='text-align: right; position: absolute; bottom: 0;')

                        include scripts/delete-station

                        if env !== 'production'
                            a#editstbtn.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--blue-A200(href='/editform?station='+val, style='min-width: 0')
                                i.material-icons edit
                        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--red-400(href='#', id='remove' + val, style='min-width: 0')
                            i.material-icons delete



block fab
    if env !== 'production'
        a#fab.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-color-text--white(href='new')
            i.material-icons add



