extends layout

block tab
    #header-row.mdl-layout__header-row



block content

    main.mdl-layout__content.mdl-color--grey-100
        .mdl-grid.demo-content

            .mdl-cell.mdl-cell--12-col.mdl-grid
                .mdl-cell.mdl-cell--4-col

                .mdl-cell.mdl-cell--4-col
                    a.demo-options.mdl-card.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-js-ripple-effect.mdl-button.mdl-js-button(href='/createform')
                        .mdl-card__supporting-text.mdl-color-text--blue-grey-800(style='width: 97%')
                            center
                                i.material-icons.addbtn.mdl-color-text--blue-grey-800 add
                        .mdl-card__actions.mdl-card--border
                            center
                                p.mdl-color-text--blue-grey-800(style='margin-bottom: 0px;font-size: 16px') Create new station

                .mdl-cell.mdl-cell--4-col