extends layout

block tab
    #header-row.mdl-layout__header-row



block content

    include scripts/newstation-button

    main.mdl-layout__content.mdl-color--grey-100
        .mdl-grid.demo-content
            .demo-charts.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
                .mdl-cell.mdl-cell--12-col
                    center
                        button#newstationbtn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.mdl-color--blue-grey.mdl-color-text--white Create new station



            #stationresult.demo-charts.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
                .mdl-cell.mdl-cell--12-col
                    p Station:
                    p#stationname

                    p User id
                    p#userid

