extends layout

block tab
    #header-row.mdl-layout__header-row



block content

    include scripts/savesettingsbtn

    main.mdl-layout__content.mdl-color--grey-100
        .mdl-grid.demo-content
            .demo-charts.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid

                .mdl-cell.mdl-cell--12-col
                    h4 Liquid galaxy

                .mdl-cell.mdl-cell--4-col

                    form(action='#')
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input#lgip.mdl-textfield__input(type='text')
                            label.mdl-textfield__label(for='lgip') Liquid Galaxy ip


                .mdl-cell.mdl-cell--12-col(style='text-align: right;')

                    a#btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.mdl-color--blue-grey-800.mdl-color-text--white Save


        dialog.mdl-dialog(style='width: 500px;')
            h5.mdl-dialog__title Settings saved
            .mdl-dialog__content
                p(style='font-size: 21px;')
            .mdl-dialog__actions
                button.mdl-button.close(type='button') Ok
