#navLogs {
  width: 60%;
  display: inline-block;
  text-align: left;
  float: left;
}
#navLogs ul li {
  display: inline-block;
  height: 62px;
}
#navLogs ul li a {
  padding: 20px;
  background: #398300;
  color: #fefffd;
}
#navLogs ul li a:hover {
  background-color: #10835f;
  box-shadow: 0px 1px 1px #666;
}
#navLogs ul li a:active {
  background-color: #ff8f00;
}
#contentLogs {
  background: #fff;
  padding: 20px;
  clear: both;
}