script.
    $(function () {
        if (window.location.hash !== '') {
            $('a[href="#'+'#{val.name}'+'"]').removeClass('is-active');
            $('a[href="' + window.location.hash + '"]').addClass('is-active');
            $('#'+'#{val.name}').removeClass('is-active');
            $(window.location.hash).addClass('is-active');
        }
    });