script.
    $(function () {
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                // User is signed in.
                $('#signinbtn').css({display: 'none'});
                $('#username').text(user.displayName);
                $('#username').css({display: 'block'});
                $('#userimg').attr('src', user.photoURL)
                $('#userimg').css({display: 'block'});
                $('#managestations').css({display: 'block'});
                $('#fab').css({display: 'block'});
                $('#newstation').css({display: 'block'});

                $('#homelink').attr('href','/?id='+user.uid);
                $('#newlink').attr('href','/new?id='+user.uid);
                $('#managelink').attr('href','/manage?id='+user.uid);
                $('#pwlink').attr('href','/pw?id='+user.uid);
                $('#settingslink').attr('href','/settings?id='+user.uid);
                $('#fab').attr('href','/new?id='+user.uid);
                $('#newstbtn').attr('href','/createform?id='+user.uid);
                $('#editstbtn').attr('href', $('#editstbtn').attr('href') + '&id='+user.uid);
                $('#newbcnbtn').attr('href','/pw/new?id='+user.uid);
                $('#helplink').attr('href', '/help?id='+user.uid)
                $('#aboutlink').attr('href', '/about?id='+user.uid)

            } else {
                // No user is signed in.
                $('#signinbtn').css({display: 'block'});
                $('#username').css({display: 'none'});
                $('#userimg').css({display: 'none'});
                $('#managestations').css({display: 'none'});
                $('#fab').css({display: 'none'});
                $('#newstation').css({display: 'none'});
            }
        });



        $('#signinbtn').on('click', function (event) {

            const provider = new firebase.auth.GoogleAuthProvider();

            firebase.auth().signInWithPopup(provider).then(function (result) {
            }).catch(function (error) {
                console.log(error);
            });

        });


        $('#signout').on('click', function (event) {

            firebase.auth().signOut().then(function () {
                window.location = '/';
            }).catch(function (error) {
                console.log(error);
            });

        });
    });
