script.
    firebase.database().ref('/stations/').on('value', function (snapshot) {

        for (const user in snapshot.val()) {

            for (const station in snapshot.child(user).val()) {

                $('#temperature' + station).text(snapshot.child(user).child(station).child('temperature').val());

                $('#humidityCircle' + station).circleProgress({
                    value: snapshot.child(user).child(station).child('humidity').val() / 100,
                    animation: false
                })
                $('#humidityStrong' + station).text(snapshot.child(user).child(station).child('humidity').val() + '%');

                $('#cmpp' + station).text(snapshot.child(user).child(station).child('wind_dir').val());
                document.getElementById('arrow' + station).style.transform =
                    'rotate(' + snapshot.child(user).child(station).child('wind_grades').val() + 'deg)';

                $('#windvelp' + station).text(snapshot.child(user).child(station).child('wind_kph').val());
                $('#windvelimg' + station).attr('src', '/img/'+snapshot.child(user).child(station).child('wind_kph_icon').val()+'.svg')



                $('#pressure' + station).text(snapshot.child(user).child(station).child('pressure').val());
                $('#sealevel_pressure' + station).text(snapshot.child(user).child(station).child('sealevel_pressure').val());
                $('#altitude' + station).text(snapshot.child(user).child(station).child('altitude').val());

                $('#city' + station).text(snapshot.child(user).child(station).child('city').val());
                $('#weather' + station).text(snapshot.child(user).child(station).child('weather').val());
                $('#wind_dir' + station).text(snapshot.child(user).child(station).child('wind_dir').val());
                $('#wind_kph' + station).text(snapshot.child(user).child(station).child('wind_kph').val());
                $('#dewpoint_c' + station).text(snapshot.child(user).child(station).child('dewpoint_c').val());
                $('#heat_index_c' + station).text(snapshot.child(user).child(station).child('heat_index_c').val());
                $('#windchill_c' + station).text(snapshot.child(user).child(station).child('windchill_c').val());
                $('#feelslike_c' + station).text(snapshot.child(user).child(station).child('feelslike_c').val());
                $('#visibility_km' + station).text(snapshot.child(user).child(station).child('visibility_km').val());
                $('#precip_today_metric' + station).text(snapshot.child(user).child(station).child('precip_today_metric').val());
                $('#icon' + station).text(snapshot.child(user).child(station).child('icon').val());
                $('#icon_img' + station).attr('src', '/img/'+snapshot.child(user).child(station).child('icon_img').val()+'.png')

            }

        }

    });
